<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd

		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    <context:component-scan base-package="com.bc.study"/>
	<context:property-placeholder location="classpath:*.properties"/>

	<aop:aspectj-autoproxy/>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/test"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>

		<!-- 连接池启动时的初始值 -->
		<property name="initialSize" value="3"/>
		<!-- 连接池的最大值 -->
		<property name="maxActive" value="800"/>
		<!-- 最大空闲值 -->
		<property name="maxIdle" value="100"/>
		<!-- 最小空闲值 -->
		<property name="minIdle" value="3"/>
		<!-- 是否启用超时自动移除空闲链接 -->
		<property name="removeAbandoned" value="false"/>
		<!-- 超时时间 -->
		<property name="removeAbandonedTimeout" value="18000"/>
		<!-- 超时等待时间 -->
		<property name="maxWait" value="10000"></property>
	</bean>

    <!--configLocation 为引入pagehelper分页插件配置文件-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="typeAliasesPackage">
			<value>com.bc.study.entity</value>
		</property>
		<property name="mapperLocations">
			<value>classpath:UserMapper.xml</value>
		</property>
        <property name="configLocation" >
            <value>classpath:/mybatis-test.xml</value>
        </property>
	</bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bc.study.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>


	<!-- 配置事务管理器  -->

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

    <aop:config>
        <aop:pointcut expression="execution(* com.bc.study.service.*.*(..))" id="txPintcut"/>
        <aop:advisor advice-ref="tx" pointcut-ref="txPintcut"/>
    </aop:config>

    <tx:advice id="tx" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <tx:method name="do*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <tx:method name="Do*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <tx:method name="upd*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <tx:method name="del*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <tx:method name="*" propagation="REQUIRED" read-only="true"/>
        </tx:attributes>
    </tx:advice>
</beans>
